/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.iconbot {
    max-height: 30px;
    max-width:  30px;
}
body {
    background: #f3ebeb;
}

.MakeDB {
    position: fixed;
   /* top: 50%;  /*Posisi vertikal ke tengah */
   /* left: 60%; /* Posisi horizontal ke tengah */
   /* transform: translate(-50%, -50%); /* Menggeser elemen ke tengah */
    background: #3f4152;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* border-radius: 15px; */
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.MakeDB header {
    background: hsl(199, 93%, 52%);
    padding: 16px 0;
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo .menu-icon {
  color: #fdcdcd;
  font-size: 24px;
  margin-left: 25px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .iconnav {
    width: 40px; /* Ubah ukuran sesuai yang Anda inginkan */
    height: 40px; /* Ubah ukuran sesuai yang Anda inginkan */
}

nav .nama {
    color: #fffbfb;
    position: fixed;
    left: 48%;
    
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;

}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #60e055;
}
    
.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #000000;
}

.nav-link .link {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}

.nav-link:hover .icon ,
.nav-link:hover .link {
    color: #ffffff;
}

.MakeDB .chatbox {
    height: 385px;
    overflow-y: auto;
    padding: 15px 20px 100px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming img {
    margin-right: 10px; /* Menambahkan margin ke kanan dari <img> */
}
.chatbox .outgoing {
    justify-content: flex-end;
    margin: 20px;
}
.chatbox .chat p {
    padding: 12px 16px;
    color: #ffffff;
    white-space: pre-wrap;
    font-size: 0.9rem;
    border-radius: 10px 10px 0 10px;
    background: #afe4c59d;
}

.chatbox .chat p.error{
    color: #3d3c3c;
    background: #f78585;

}

.chatbox .incoming p {
    color: #000000;
    background: #ffffff;
    border-radius: 10px 10px 10px 0;
}

.MakeDB .chat-input {
    position: absolute;
    bottom: 2%;
    left: 10%;
    width: 80%;
    display: flex;
    gap: 5px;
    background: #ffffff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input span {
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #535353;
    font-size: 2.35rem;
    cursor: pointer;
    visibility: visible;
}
.chat-input textarea:valid ~ span {
    visibility: visible;
}
.button {
    position: absolute;
    top: 85%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 200px;
    background: #1ea1ec;
    border-radius: 55px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
    overflow: hidden;
}
.button.active {
    height: 20px;
    width: 200px;
}

.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    border-radius: 55px;
    background: #014e7e;
}
.button.active::before{
    animation: layer 2s ease-in-out forwards;
}
@keyframes layer {
    100%{
        left: 0%;
    }
}

.button .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}

.button.active .content{
    transform: translateY(40px);
}

.content i,
.content .button-text {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}
.content .button-text{
    font-size: 15px;
    margin-left: 8px;
}

.button-edit {
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 200px;
    background: #1ea1ec;
    border-radius: 55px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}
.button-edit .content-edit {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-edit x,
.content-edit .button-text-edit {
    color: #fff8f8;
    font-size: 20px;
    font-weight: 500;
}
.content-edit .button-text-edit{
    font-size: 15px;
    margin-left: 8px;
}

@media(max-width: px) {
    .MakeDB {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .MakeDB .chatbox {
        height: 90%;

    }
    
}
